gif2png
*.o
*.tar.gz
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.lineno
depcomp
gif2png.1
install-sh
index.html
manpage.links
manpage.refs
missing
mkinstalldirs
stamp-h
stamp-h.in
stamp-h1
web2png.1
